body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title{
    font-size: 2rem;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-container{
    border:2px solid pink;
    border-radius: 4px;
    width: 20px;
    height:20px;
}

.nav-links ul{
    margin:0;
    padding:0;
    display: flex;
}

.nav-links li{
    list-style: none;
} 

.nav-links li a{
    text-decoration: none;
    color: #767676;
    padding: 1.5rem;
}

.download-button{
    background-color: #04ddb2;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color:white;
    margin: 1.2rem;
    padding:1rem;
    border-radius: 25px;
}

.nav-links li a:hover{
    color:#04ddb2;
}

.download-button:hover{
    transition: ease-in-out;
    scale: 1.05;
}

.toggle-button{
    display: none; /*this changes to flex when we make the screen smaller*/ 
    flex-direction: column;
    justify-content: space-between;
    width:31px;
    height:21px;
}

.toggle-button .bar{
    background-color:#767676;
    height: 3px;
    width:100%;
    border-radius: 7px;
}



.page-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.company-title{
    font-size: 2rem;
    font-weight: 800;
}

.Tour{
    color:#04ddb2;
}

.brand-message{
    font-size: 1.5rem;
    text-align: center;
}

.video-container{
    max-width: 70%;
    max-height: 60%;
    padding: 0.8rem;
}

img{
    max-width: 100%;
    border-radius: 30px;
    object-fit: contain;
}

.pitch{
    font-size: 1.5rem;
    text-align: center;
}

.divider{
    border: 1px solid;
    width:95%;
    color:rgb(118, 118, 118,0.4);
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
}

.footer-brand-title{
    color:black;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.column li h3{
    color:black
}


.column li{
    list-style: none;
    line-height: 2.5rem;
}

.column li{
    color: #767676;
    text-decoration: none;
    font-weight: 400;

}

.column li a {
    color: #767676;
    text-decoration: none;
    font-weight: 400;
}

.column li a:hover,
.column li a:focus,
.column li a:active{
    color:#04ddb2
}


@media (max-width:600px) {
    .toggle-button{
        display: flex;
        margin: 1rem;
    }
    .nav-links{
        display:none;
    }

    .download-button{
        display:none;
    }  

    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding:1rem;
    }

    .column{
        width:100%;

    }

}